body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111018;
  color: #fff;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, .text-rotate {
  font-family: 'Orbitron', 'Poppins', Arial, sans-serif;
  letter-spacing: 1px;
}